{% extends 'default/catalog.html.twig' %}

{% block grid %}
  <div class="row grid header">
    <div class="col-6">
      {{ 'grid.name'|trans }}
    </div>
    <div class="col-4">
      {{ 'grid.birthdate'|trans }}
    </div>  
    <div class="col-2"></div>	
  </div>
  {% for row in data %}
  <div class="row grid">
    <div class="col-6">
      {{ row.name }}
    </div>
    <div class="col-4">
      {{ row.localeBirthDate }}
    </div>
    <div class="col-2" 
    	data-react-id="grid-row-buttons" 
    	data-sql-id="{{ row.id }}" 
    	data-token="{{ csrf_token('grid') }}">
    </div>
  </div>
  {% endfor  %}
{% endblock %}